.column {
  float: left;
  width: 33.33%;
  padding: 2px;
  flex: 33.33%;
  /* padding: 5px; */
  position: relative;
  text-align: center;
}

.column1 {
  float: left;
  width: 33.33%;
  padding: 2px;
  flex: 33.33%;
  position: relative;
  text-align: center;
  padding-top: 20px;
}

.row {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 2px;
  margin-bottom: 0px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}


/* Container holding the image and the text */

/* Centered text */
.centered {
    font-size: 2.85em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    /* background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px; */
    color: #ffcc00;
}

img:hover {
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}
